In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Multiple values
# -Duplicate values
# -Mutable

In [2]:
d = {}
print(type(d))

<class 'dict'>

In [3]:
# d = {<key>:<values>}

In [4]:
d = {'a':"Apple"}
print(d)
print(type(d))

{'a': 'Apple'}
<class 'dict'>

In [6]:
d = {'a':"Apple","b":"Ball","c":"Cat"}
print(d['a'])

Apple

In [7]:
d = {'a':"Apple","b":"Ball","c":"Cat"}
print(d['b'])

Ball

In [8]:
d = {'a':"Apple","b":"Ball","c":"Cat"}
print(d['c'])

Cat

In [11]:
d = {'a':"Apple","b":"Ball","c":"Cat"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
d = {'a':"Apple","b":"Ball","c":"Cat"}
print(d['a'])
print(len(d))

Apple
3

In [13]:
d = {'a':"Apple","b":"Ball","A":"Apple"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'A': 'Apple'}

In [15]:
d = {'A':"apple","b":"Ball","A":"Apple"}
print(d)

{'A': 'Apple', 'b': 'Ball'}

In [16]:
a ={}
a['A'] = "Apple"
print(a)

{'A': 'Apple'}

In [18]:
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['C'] = "Cat"
print(a)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [19]:
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['C'] = "Cat"
a['A'] = "apple"
print(a)

{'A': 'apple', 'B': 'Ball', 'C': 'Cat'}

In [22]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 234567
Enter name = Hari
Enter phone = 2345678
{'Ram': 234567, 'Hari': 2345678}

In [23]:
d = {'Ram': 234567, 'Hari': 2345678}
for i in d:
    print(i)

Ram
Hari

In [24]:
d = {'Ram': 234567, 'Hari': 2345678}
for i in d.values():
    print(i)

234567
2345678

In [25]:
d = {'Ram': 234567, 'Hari': 2345678}
for i in d.items():
    print(i)

('Ram', 234567)
('Hari', 2345678)

In [27]:
l = list()
d = {'Ram': 234567, 'Hari': 2345678}
for i in d.items():
    l.append(i)
print(l)

[('Ram', 234567), ('Hari', 2345678)]

In [28]:
a = [('Ram', 234567), ('Hari', 2345678)]
dict(a)

{'Ram': 234567, 'Hari': 2345678}

In [29]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [30]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [31]:
d = {'Ram': 234567, 'Hari': 2345678}
d['Ram'] = '234567898765'
print(d)

{'Ram': '234567898765', 'Hari': 2345678}

In [32]:
# del pop()
d = {'Ram': 234567, 'Hari': 2345678}
del d['Ram']
[print(d)]

{'Hari': 2345678}

[None]

In [33]:
d = {'Ram': 234567, 'Hari': 2345678}
d.pop('Ram')
print(d)

{'Hari': 2345678}

In [34]:
# list tuple set dict as a value

In [35]:
# list inside dictionary
d = {'Ram':['234567','9876543'],'Hari': ['2345678','9823456']}
print(d)
print(len(d))
print(type(d))

{'Ram': ['234567', '9876543'], 'Hari': ['2345678', '9823456']}
2
<class 'dict'>

In [37]:
print(d['Ram'])
print(d['Hari'][0])

['234567', '9876543']
2345678

In [38]:
d = {'Ram':['234567','9876543'],'Hari': ['2345678','9823456']}
for i in d.items():
    print(i)

('Ram', ['234567', '9876543'])
('Hari', ['2345678', '9823456'])

In [2]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    data[name] = [ntc,ncell]

print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone = 4567890
Enter ncell phone = 09876
Enter name = Hari
Enter ntc phone = 34567890-
Enter ncell phone = 98765432
{'Ram': ['4567890', '09876'], 'Hari': ['34567890-', '98765432']}

In [1]:
# dict inside list
d = [{'Name':"Ram","NTC":9876543,"Ncell":12345678},{'Name':"Shyam",'NTC':45657,'Ncell':8765432}]
print(d)
print(type(d))

[{'Name': 'Ram', 'NTC': 9876543, 'Ncell': 12345678}, {'Name': 'Shyam', 'NTC': 45657, 'Ncell': 8765432}]
<class 'list'>

In [2]:
print(d[0]['Name'])

Ram

In [3]:
print(d[1]['Name'])

Shyam

In [1]:
# dict inside list
l = [{'Name':'Ram','NTC':98987654,'Ncell':98098765},{'Name':'Shyam','NTC':2345678,'Ncell':765432}]
print(l)

[{'Name': 'Ram', 'NTC': 98987654, 'Ncell': 98098765}, {'Name': 'Shyam', 'NTC': 2345678, 'Ncell': 765432}]

In [4]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    info = {'Name':name,'NTC':ntc,'NCELL':ncell}
    data.append(info)
print(data)

Enter n = 2
Enter name = RAm
Enter ntc phone = 98765432
Enter ncell phone = 123456
Enter name = Shyam
Enter ntc phone = 34567
Enter ncell phone = 65432
[{'Name': 'RAm', 'NTC': '98765432', 'NCELL': '123456'}, {'Name': 'Shyam', 'NTC': '34567', 'NCELL': '65432'}]

In [5]:
print(data[0]['Name'])

RAm

In [6]:
data[0]['Name'] = 'Ram Prasad'
print(data)

[{'Name': 'Ram Prasad', 'NTC': '98765432', 'NCELL': '123456'}, {'Name': 'Shyam', 'NTC': '34567', 'NCELL': '65432'}]

In [7]:
data

[{'Name': 'Ram Prasad', 'NTC': '98765432', 'NCELL': '123456'},
 {'Name': 'Shyam', 'NTC': '34567', 'NCELL': '65432'}]

In [8]:
data[0]

{'Name': 'Ram Prasad', 'NTC': '98765432', 'NCELL': '123456'}

In [9]:
data[0]['Land'] = 4456554
data

[{'Name': 'Ram Prasad', 'NTC': '98765432', 'NCELL': '123456', 'Land': 4456554},
 {'Name': 'Shyam', 'NTC': '34567', 'NCELL': '65432'}]

In [10]:
# dict inside dict
# d = {<key>:{<key>:<value>}}

In [11]:
d = {1:{'Name': 'RAm', 'NTC': '98765432', 'NCELL': '123456'}, 2:{'Name': 'Shyam', 'NTC': '34567', 'NCELL': '65432'}}
print(d[1])

{'Name': 'RAm', 'NTC': '98765432', 'NCELL': '123456'}

In [12]:
print(d[1]['Name'])

RAm

In [13]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    data[i] = {'Name':name,'NTC':ntc,'NCELL':ncell}
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone = 98765
Enter ncell phone = 1234
Enter name = Shyam
Enter ntc phone = 65432
Enter ncell phone = 3456789
{1: {'Name': 'Ram', 'NTC': '98765', 'NCELL': '1234'}, 2: {'Name': 'Shyam', 'NTC': '65432', 'NCELL': '3456789'}}

In [14]:
data[3] = {'Name':'Hari','NTC':9876543,'Ncell':54321}
data

{1: {'Name': 'Ram', 'NTC': '98765', 'NCELL': '1234'},
 2: {'Name': 'Shyam', 'NTC': '65432', 'NCELL': '3456789'},
 3: {'Name': 'Hari', 'NTC': 9876543, 'Ncell': 54321}}

In [15]:
data[1]['Name']

'Ram'

In [17]:
data[1]['Name'] = "Rama"
data

{1: {'Name': 'Rama', 'NTC': '98765', 'NCELL': '1234'},
 2: {'Name': 'Shyam', 'NTC': '65432', 'NCELL': '3456789'},
 3: {'Name': 'Hari', 'NTC': 9876543, 'Ncell': 54321}}

In [18]:
data[1]['NTC'] = [98765432,234567]
data

{1: {'Name': 'Rama', 'NTC': [98765432, 234567], 'NCELL': '1234'},
 2: {'Name': 'Shyam', 'NTC': '65432', 'NCELL': '3456789'},
 3: {'Name': 'Hari', 'NTC': 9876543, 'Ncell': 54321}}

In [19]:
d = {('Ram','Shyam'):'Kathmandu'}
print(d)

{('Ram', 'Shyam'): 'Kathmandu'}

In [20]:
d[('Ram','Shyam')]

'Kathmandu'

In [21]:
d = {('Ram','Shyam'):'Kathmandu'}
d.items()

dict_items([(('Ram', 'Shyam'), 'Kathmandu')])

In [22]:
d = {('Ram','Shyam'):'Kathmandu'}
for i in d:
    print(i)

('Ram', 'Shyam')

In [23]:
d = {('Ram','Shyam'):'Kathmandu'}
for i in d.items():
    print(i)

(('Ram', 'Shyam'), 'Kathmandu')

In [25]:
data = []
d = {('Ram','Shyam'):'Kathmandu'}
for i in d.items():
    data.append(i)
data

[(('Ram', 'Shyam'), 'Kathmandu')]

In [26]:
data = []
d = {('Ram','Shyam'):'Kathmandu'}
for i in d.items():
    if 'Ram' in i[0]:
        print(i)

(('Ram', 'Shyam'), 'Kathmandu')

In [27]:
data = []
d = {('Ram','Shyam'):'Kathmandu',('Hari','Sita'):'Patan'}
for i in d.items():
    if 'Ram' in i[0]:
        print(i)

(('Ram', 'Shyam'), 'Kathmandu')

In [30]:
d = {1:{'Name':'Akash','Physics':{'Th':60,'Pr':20}},2:{'Name':'Shyam','Physics':{'Th':50,'Pr':25}}}
d

{1: {'Name': 'Akash', 'Physics': {'Th': 60, 'Pr': 20}},
 2: {'Name': 'Shyam', 'Physics': {'Th': 50, 'Pr': 25}}}

In [ ]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")