In [1]:
## Python collection
# List
# Tuple
# Dictionary
# Set

In [2]:
## List
# -Indexed
# -Ordered
# -Mutable
# -Duplicate Values
# -Multiple Values

In [3]:
l = list()
lis = []
print(type(l))

<class 'list'>

In [4]:
data = [1,2,3,4,5,6,7,8,9,10]
type(data)

list

In [5]:
data = ["Apple","Ball","Cat"]
print(data)

['Apple', 'Ball', 'Cat']

In [6]:
data = ["Apple","Ball","Cat","Apple"]
print(data)

['Apple', 'Ball', 'Cat', 'Apple']

In [ ]:
x,y,z = ["Apple","Ball","Cat"]

In [7]:
data = ["Apple","Ball","Cat"]
data[0]

'Apple'

In [8]:
data = ["Apple","Ball","Cat"]
data[1]

'Ball'

In [9]:
data = ["Apple","Ball","Cat"]
data[-1]

'Cat'

In [10]:
data = ["Apple","Ball","Cat"]
data[-2]

'Ball'

In [1]:
data = ["Apple","Ball","Cat","Apple"]
data1 = ["Dog"]
print(data+data1)

['Apple', 'Ball', 'Cat', 'Apple', 'Dog']

In [2]:
data = ["Apple","Ball","Cat","Apple"]
data1 = ["Dog"]
print(data1+data)

['Dog', 'Apple', 'Ball', 'Cat', 'Apple']

In [3]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [4]:
data = ["Apple","Ball","Cat","Apple"]
data1 = "Dog"
data+data1

TypeError: can only concatenate list (not "str") to list

In [5]:
data = ["Apple","Ball","Cat","Apple"]
data[0] = 'apple'
data

['apple', 'Ball', 'Cat', 'Apple']

In [7]:
data = ["Apple","Ball","Cat","Apple"]
data[2] = 'ball'
data

['Apple', 'Ball', 'ball', 'Apple']

In [8]:
data = [1,2,3,4,5,6,7,8,9]
data[0:5]

[1, 2, 3, 4, 5]

In [9]:
data = [1,2,3,4,5,6,7,8,9]
data[0:8:2]

[1, 3, 5, 7]

In [10]:
data = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    data = data+[x]
    
print(data)

Enter n = 5
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = Dof
Enter x = Fish
['Apple', 'Ball', 'Cat', 'Dof', 'Fish']

In [11]:
data = ['Apple', 'Ball', 'Cat', 'Dof', 'Fish']
for i in data:
    print(i)

Apple
Ball
Cat
Dof
Fish

In [12]:
data = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']
for i in data:
    if i == 'Apple':
        continue
    print(i)

Ball
Cat
Dog
Fish

In [13]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data = data+[x]
    
print(data)

Enter n = 10
Enter x = 1234
Enter x = 6543
Enter x = 3456
Enter x = 76543
Enter x = 765
Enter x = 76543
Enter x = 87654
Enter x = 7654
Enter x = 2345
Enter x = 2345
[1234, 6543, 3456, 76543, 765, 76543, 87654, 7654, 2345, 2345]

In [18]:
print("Max value = ",max(data))
print("Min value = ",min(data))
print("The sum is = ",sum(data))
print("The Avg = ",sum(data)/n)
data.sort()
print(data)

Max value =  87654
Min value =  765
The sum is =  265082
The Avg =  26508.2
[765, 1234, 2345, 2345, 3456, 6543, 7654, 76543, 76543, 87654]

In [19]:
data.reverse()
print(data)

[87654, 76543, 76543, 7654, 6543, 3456, 2345, 2345, 1234, 765]

In [20]:
data = ['Apple','Zebra','Ball','Fish']
data.sort()
print(data)

['Apple', 'Ball', 'Fish', 'Zebra']

In [21]:
data = ['apple','Zebra','Ball','Fish']
data.sort()
print(data)

['Ball', 'Fish', 'Zebra', 'apple']

In [22]:
data = ['1apple','Zebra','Ball','Fish']
data.sort()
print(data)

['1apple', 'Ball', 'Fish', 'Zebra']

In [23]:
data = ['Apple','Zebra','Ball','Fish']
len(data)

4

In [24]:
data = ['Apple','Zebra','Ball','Fish','Ball']
print(len(data))
print(data.count('Ball'))

5
2

In [25]:
for i in data:
    print(i)

Apple
Zebra
Ball
Fish
Ball

In [28]:
for i in range(len(data)):
    print(data[i])

Apple
Zebra
Ball
Fish
Ball

In [30]:
for i in range(len(data)):
    print(i,data[i])

0 Apple
1 Zebra
2 Ball
3 Fish
4 Ball

In [31]:
for i in range(len(data)):
    if data[i] == 'Ball':
        print(i)

2
4

In [1]:
# CRUD operations in list

In [2]:
# append() extent() insert()
a = ["Ram","Sita","Hari","Nita","Nabin"]
a.append("Sabin")
print(a)

['Ram', 'Sita', 'Hari', 'Nita', 'Nabin', 'Sabin']

In [3]:
a = ["Ram","Hari","Sita","Nita","Nabin"]
b = ["Nabina","Sabina"]
a.extend(b)
print(a)

['Ram', 'Hari', 'Sita', 'Nita', 'Nabin', 'Nabina', 'Sabina']

In [4]:
a = ["Ram","Sita","Hari","Nita","Nabina"]
a.insert(2,"Akash")
print(a)

['Ram', 'Sita', 'Akash', 'Hari', 'Nita', 'Nabina']

In [5]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
    
print(data)

Enter n = 2
Enter x = 32
Enter x = 34
[32, 34]

In [6]:
# del remove() pop()

a = ["Ram","Sita","Hari","Nita","Nabin"]
del a[0]
print(a)

['Sita', 'Hari', 'Nita', 'Nabin']

In [7]:
a = ["Ram","Sita","Hari","Nita","Nabin"]
del a[0:3]
print(a)

['Nita', 'Nabin']

In [9]:
a = ["Ram","Sita","Akash","Hari","Nita","Nabin"]
a.remove("Sita")
print(a)

['Ram', 'Akash', 'Hari', 'Nita', 'Nabin']

In [11]:
a = ["Ram","Sita","Akash","Hari","Nita","Nabin","Sita"]
# c = a.count("Sita")
for i in a:
    if i == "Sita":
        a.remove("Sita")

print(a)

['Ram', 'Akash', 'Hari', 'Nita', 'Nabin']

In [19]:
a = ["Ram","Sita","Akash","Hari","Nita","Nabin"]
name = input("Enter name = ")
for i in a:
     if i == name:
            a.remove(name)
     
print(a)

Enter name = Sita
['Ram', 'Akash', 'Hari', 'Nita', 'Nabin']

In [21]:
a = ["Ram","Sita","Akash","Hari","Nita","Nabin"]
b = a.pop(4)
print(a)
print(b)

['Ram', 'Sita', 'Akash', 'Hari', 'Nabin']
Nita

In [29]:
a = "Apple 200 3 600\n Banana 100 2 200"
print(a)
a.split('\n')

Apple 200 3 600
 Banana 100 2 200

['Apple 200 3 600', ' Banana 100 2 200']

In [28]:
a = "Apple 200 3 600\n Banana 100 2 200"
b = a.split('\n')
print(b)
print(b[0])

['Apple 200 3 600', ' Banana 100 2 200']
Apple 200 3 600

In [30]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
print(len(a))

4

In [32]:
a = [["Apple",200,3,600],["Banana",100,2,200]]
print(a)

[['Apple', 200, 3, 600], ['Banana', 100, 2, 200]]

In [33]:
print(a[0])

['Apple', 200, 3, 600]

In [34]:
a[0][0]

'Apple'

In [35]:
a[1][0]

'Banana'

In [36]:
a[1]

['Banana', 100, 2, 200]

In [38]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Sita
Enter age = 23
Enter add = Bhaktapur
[['Ram', 34, 'Kathmandu'], ['Sita', 23, 'Bhaktapur']]

In [43]:
data = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [i,name,age,add]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Sita
Enter age = 23
Enter add = Lalitpur
[[1, 'Ram', 34, 'Kathmandu'], [2, 'Sita', 23, 'Lalitpur']]

In [44]:
data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
for i in data:
    print(i)

[1, 'Ram', 34, 'Kathmandu']
[2, 'Shyam', 34, 'Lalitpur']

In [45]:
data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
name = input("Enter name = ")
for i in data:
    if name in i:
        print(i)

Enter name = Ram
[1, 'Ram', 34, 'Kathmandu']

In [48]:
data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
name = input("Enter name = ")
for i in data:
    if name in i:
        data.remove(i)
print(data)

Enter name = Ram
[[2, 'Shyam', 34, 'Lalitpur']]

In [49]:
data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
name = input("Enter name = ")
for i in range(len(data)):
    if name in data[i]:
        print(i)

Enter name = Shyam
1

In [50]:

data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
data[0] = [1,'Rama',54,'Kathmandu']
data

[[1, 'Rama', 54, 'Kathmandu'], [2, 'Shyam', 34, 'Lalitpur']]

In [51]:
data = [[1,'Ram',34,'Kathmandu'],[2,'Shyam',34,'Lalitpur']]
data[0][1] = "Ram Krishna"
data

[[1, 'Ram Krishna', 34, 'Kathmandu'], [2, 'Shyam', 34, 'Lalitpur']]

In [1]:
# WAP to develop a billing application(CRUD)
# WAP to develop result management system(CRUD)
# WAP to develop a matrix(CRUD)
# WAP to change
# ['Apple 200 3 600' 'Banana 100 2 200']
# to
# [['Apple',200,3,600],['Banana',100,2,200]]

In [4]:
# # Matrix
# c = [1,2,3]
#     [4,5,6]
#     [7,8,9]
# r = ?
# c = ?
[[1,2,3],[4,5,6]]

[[1, 2, 3], [4, 5, 6]]

In [3]:
a = []
c = int(input("Enter c = "))
r = int(input("Enter r = "))
for i in range(r):
    b = []
    for j in range(c):
        x = int(input("Enter x = "))
        b.append(x)
    a.append(b)
    
print(a)

Enter c = 3
Enter r = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
# WAP to change
# ['Apple 200 3 600' 'Banana 100 2 200']
# to
# [['Apple',200,3,600],['Banana',100,2,200]]

b = []
a = ['Apple 200 3 600','Banana 100 2 200']
for i in a:
    x = i.split()
    b.append(x)
print(b)

[['Apple', '200', '3', '600'], ['Banana', '100', '2', '200']]

In [ ]:
z = 'Apple 200 3 600\nBanana 100 2 200'
y = z.split('\n')
print(y)
# ['Apple 200 3 600', 'Banana', 100 2 200']
b = []
for i in y:
    x = i.split()
    b.append(x)
print(b)
a = ['Apple 200 3 600','Banana 100 2 200']
for i in a:
    x = i.split()
    b.append(x)
print(b)