In [1]:
import mysql.connector as my    #importing database
database = my.connect(
    host = "localhost",
    user = "root",
    password = ""
)
db = database.cursor()
db.execute("CREATE DATABASE python_class")

In [2]:
import mysql.connector as my
database = my.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'Class2pm'
)
db = database.cursor()

In [3]:
sql = "SELECT * FROM Profile"
db.execute(sql)
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 87, 80, 95, 92, 82, 436, 87)
(2, 'Hari', 87, 85, 97, 95, 85, 449, 90)
(3, 'Shyam', 88, 88, 92, 95, 85, 448, 90)
(4, 'Nabin', 89, 95, 67, 87, 65, 403, 81)

In [4]:
sql = "SELECT sn,name FROM Profile"
db.execute(sql)
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram')
(2, 'Hari')
(3, 'Shyam')
(4, 'Nabin')

In [5]:
sql = "INSERT INTO Profile (name,physics,chemistry,math,english,nepali,total,per) VALUES('Nabin',89,95,67,87,65,403,80.6)"
db.execute(sql)
database.commit()

In [6]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter nepali = "))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    sql = f'''INSERT INTO Profile (name,physics,chemistry,math,english,nepali,total,per) VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per})'''
    print(sql)
    
    db.execute(sql)
    
    database.commit()

Enter n = 1
Enter name = Smaran
Enter physics = 96
Enter chemistry = 88
Enter math = 95
Enter english = 92
Enter nepali = 85
INSERT INTO Profile (name,physics,chemistry,math,english,nepali,total,per) VALUES ('Smaran',96,88,95,92,85,456,91.2)

In [7]:
sql = "DELETE FROM Profile WHERE sn = 4"
db.execute(sql)
database.commit()

In [8]:
sql = "UPDATE Profile SET name = 'Harry' WHERE name = 'Hari'"
db.execute(sql)
database.commit()