In [2]:
a = "Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

In [3]:
a = input("Enter a = ")
print(type(a))

Enter a = 10
<class 'str'>

In [4]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [2]:
a = "Hello " 
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World "
print(a*2)

Hello World Hello World

In [10]:
a = "Hello World"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [5]:
a = "Hello World "
for i in a:
    print(i, end = "")

Hello World

In [3]:
a = "Hello World"
for i in a:
    if(i !="l") and (i!=" "):
        print(i)

H
e
o
W
o
r
d

In [1]:
a = "Hello World"
print(a[1])

e

In [11]:
a = "Hello World"
print(a[3])

l

In [12]:
a = "Hello World"
print(a[1:5])

ello

In [13]:
a = "Hello World"
print(a[0:10:2])
print(len(a))

HloWr
11

In [14]:
a = "Hello World"
l = len(a)
print(a[l-1::-1])

dlroW olleH

In [1]:
a = "Hello World"
print(a[11:-1:-1])

In [15]:
a = "am"
l = len(a)-1
a[1]

'm'

In [6]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(i,a[i])

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [7]:
# string formatting
s = " "
n= int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s+info
    print(s)

Enter n = 1
Enter name = asd
Enter phone = 12345
 asd 12345

In [29]:
name = "Ram"
phone = 9812345678
info = f"Hello world I am {name}. My phone no is {phone}"
print(info)

Hello world I am Ram. My phone no is 9812345678

In [30]:
# replace()
# search()
# uppercase
# lowercase
# count

In [1]:
a = "Hello World"
a.upper()

'HELLO WORLD'

In [2]:
a = "Hello World"
a.lower()

'hello world'

In [5]:
a = "Ram Shyam Hari Sita Gita Gita"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name = ram
No

In [ ]:
# a = "Hello World"
# a = "hello world"
# b = 'Hello'
# c= 'hello'

In [6]:
a = "Ram Shyam Hari Sita Gita Gita"
a_lower = a.lower()
name = input("Enter name = ")
name_lower = name.lower()
if name_lower in a_lower:
    print("Yes",a_lower.count(name_lower))
else:
    print("No")

Enter name = ram
Yes 1

In [7]:
a = "apple"
b = a[0].upper()+a[1:]
print(b)

Apple

In [8]:
a = "Ram Shyam Hari Sita Gita Gita"
b = a.replace('Ram','ram')
print(b)
print(a)

ram Shyam Hari Sita Gita Gita
Ram Shyam Hari Sita Gita Gita

In [9]:
a = "Ram Shyam Sita Gita Gita"
b = a.replace('Ram','')
print(b)

 Shyam Sita Gita Gita

In [1]:
a = "Ram Shyam Hari Sita Gita Gita"
name = input("Enter name = ")
if name in a:
    print("Yes")
else:
    print("No")

Enter name = Ram
Yes

In [2]:
a = "Ram Shyam Hari Sita Gita Gita"
name = input("Enter name = ")
if name in a:
    print("Yes")
else:
    print("No")

Enter name = Romeeer
No

In [3]:
a = "Ram Shyam Hari Sita Gita Gita"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name = ram
No

In [9]:
a = "Ram Shyam Hari Sita Gita Gita"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name = Gita
Yes 2

In [10]:
a = "Hello World"
a.upper()

'HELLO WORLD'

In [11]:
a = "Hello World"
a.lower()

'hello world'

In [12]:
# a = "Hello World"
# a = 'hello world'
# b = 'Hello'
# c = 'hello'

In [13]:
a = "Ram Shyam Hari Gita Sita Gita"
a_lower = a.lower()
name = input("Enter name = ")
name_lower = name.lower()
if name_lower in a_lower:
    print("Yes",a_lower.count(name_lower))
else:
    print("No")

Enter name = ram
Yes 1

In [14]:
a = "apple"
b = a[0].upper()+a[1:]
print(b)

Apple

In [18]:
a = "apple"
b = a[0].upper()+a[1:3]
print(b)

App

In [21]:
a = "Ram Shyam Hari Sita Gita Gita Ram"
b = a.replace('Ram','ram')
print(b)
print(a)

ram Shyam Hari Sita Gita Gita ram
Ram Shyam Hari Sita Gita Gita Ram

In [22]:
a = "Ram Shyam Hari Sita Gita Gita"
b = a.replace('Ram','')
print(b)

 Shyam Hari Sita Gita Gita

In [3]:
a = "Ram Shyam Hari Sita Gita Gita Ram"
l = len(a)
a[0:30]

'Ram Shyam Hari Sita Gita Gita '

In [4]:
a = "Ram Shyam Hari Sita Gita Gita Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Gita', 'Ram']

In [5]:
a = "Ram.Shyam.Hari.Sita.Gita.Ram"
a.split(".")

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ram']

In [ ]:
# string formatting
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s+info
print(s)