In [1]:
# Tuple
# -Indexed
# -Ordered
# -Multiple Data
# -Duplicate Data
# -Immutable

In [2]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [3]:
a = (1)
print(a)
print(type(a))

1
<class 'int'>

In [4]:
a = ("Apple")
print(a)
print(type(a))

Apple
<class 'str'>

In [5]:
a = ("Apple",)
print(a)
print(type(a))

('Apple',)
<class 'tuple'>

In [6]:
a = ("Apple","Ball","Cat","Dog")
print(a[0])

Apple

In [7]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [12]:
a = ["Apple","Ball","Cat","Dog"]
b = ("Fish",)
print("a+b")
print(a)

a+b
['Apple', 'Ball', 'Cat', 'Dog']

In [14]:
# append() insert() extend() del remove() pop()

In [15]:
a = ["Zebra"]

In [17]:
a = ("Zebra","Apple","Ball","Cat","Dog")
print(sorted(a))
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Zebra']
('Zebra', 'Apple', 'Ball', 'Cat', 'Dog')

In [19]:
a = ("Zebra","Apple","Ball","Cat","Dog")
b = list(a)
print(b)

['Zebra', 'Apple', 'Ball', 'Cat', 'Dog']

In [3]:
a = ("Zebra","Apple","Ball","Cat","Dog")
b = list(a)
b.remove("Zebra")
a = tuple(b)
a

('Apple', 'Ball', 'Cat', 'Dog')

In [4]:
# min() max () sum() index() search read

In [5]:
a = ("Zebra","Apple","Ball","Cat","Dog")
a.index("Apple")

1

In [6]:
a = ("Zebra","Apple","Ball","Cat","Dog")
for i in a:
    print(i)

Zebra
Apple
Ball
Cat
Dog

In [7]:
a = ("Zebra","Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("Yes")

Yes

In [3]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data = data+(x,)
print(data)

Enter n = 5
Enter x = 4322
Enter x = 345
Enter x = 23
Enter x = 45
Enter x = 234
(4322, 345, 23, 45, 234)

In [4]:
def hello():
    return 'Hello'
hello()

'Hello'

In [5]:
def hello():
    return "Hello","World"
hello()

('Hello', 'World')

In [7]:
def hello():
    return "Hello","World"
print(hello()[0])
print(hello()[1])

Hello
World

In [9]:
def hello(z):
    print(z)
t = ("Hello","World")
hello(t)

('Hello', 'World')

In [10]:
def hello(z):
    print(z[0],z[1])
t = ("Hello","World")
hello(t)

Hello World

In [11]:
## tuple inside tuple
# a = (1,2,3),
#     (4,5,6),
#     (7,8,9))

In [12]:
data = ()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = (i,name,age,add)
    data = data+(info,)
    
print(data)

Enter n = 2
Enter name = RM
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 22
Enter address = Lalitpur
((1, 'RM', 34, 'Kathmandu'), (2, 'Shyam', 22, 'Lalitpur'))

In [1]:
# tuple inside tuple to list inside list

a = ((1,2,3)),((4,5,6)),((7,8,9))
b = [list(x) for x in a]
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
# tuple inside tuple to list inside list
# list inside tuple
# tuple inside list

In [2]:
# list inside tuple

a = ([1,2,3],[4,5,6],[7,8,9])
print(a[0])
a[0].append(4)
print(a)

[1, 2, 3]
([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [3]:
a = ([1,2,3],[4,5,6],[7,8,9])
print(a[0])
a[0][0] = 11
print(a)

[1, 2, 3]
([11, 2, 3], [4, 5, 6], [7, 8, 9])

In [4]:
# list inside tuple

a = [(1,2,3),(4,5,6),(7,8,9)]
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [5]:
# list inside tuple

a = [(1,2,3),(4,5,6),(7,8,9)]
b = (11,22,33)
a.append(b)
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (11, 22, 33)]

In [7]:
# list inside tuple

a = [(1,2,3),(4,5,6),(7,8,9)]
a[0] = (1,2,33)
a

[(1, 2, 33), (4, 5, 6), (7, 8, 9)]

In [8]:
# tuple inside tuple to list inside list
b = []
a = ((1,2,3),(4,5,6),(7,8,9))
for i in a:
    x = list(i)
    b.append(x)
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]